/**Var Global***/
.clr-text-primary{
    color: #333333;
}
.clr-text-second{
    color: #666666;
}
.clr-text-white{
    color: #ffffff;
}
.fg-m-t-10{
    margin-top: 10px;
}
.fg-m-t-20{
    margin-top: 20px;
}
.fg-m-t-30{
    margin-top: 30px;
}
.fg-m-b-10{
    margin-bottom: 10px;
}
.fg-m-b-20{
    margin-bottom: 20px;
}
.fg-m-b-30{
    margin-bottom: 30px;
}
.fg-m-10{
    margin: 10px;
}
.fg-m-15{
    margin: 15px;
}
.fg-m-l-r-10{
    margin-right: 10px;
    margin-left: 10px
}
.fg-m-l-r-15{
    margin-left: 15px;
    margin-right: 15px;
}
.fg-p-t-10{
    padding-top: 10px;
}
.fg-p-t-20{
    padding-top: 20px;
}
.fg-p-b-10{
    padding-bottom: 10px;
}
.fg-p-b-20{
    padding-bottom: 20px;
}
.fg-p-15{
    padding: 15px;
}
.fg-p-l-15{
    padding-left: 15px;
}
.fg-p-r-15{
    padding-right: 15px;
}
.w-100{
    width: 100%;
}