@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutFgo.cshtml";
}



<div class="row" ng-controller="AccountController">
   
    <div class="col-md-12 main_content_text text-center">
        <h1>Should not have lunch <span style="font-size:46px">alone</span> !</h1>
        <h4 class="clr-text-second"><span style="font-size:26px">We love lunch and coffee</span>, but getting everyone’s oder together is a hassle </h4>
        <h2>That’s why we build Fgo</h2>
    </div>
    <div class="col-md-4 col-md-offset-4 form_register fg-m-t-20">
        <form class="form">

            <div class="form-group text-center">
                <h2 class="clr-text-white">Let’s Fgo Now!</h2>
            </div>
            <div class="form-group hidden">
                <p class="bg-danger">Enter your username or password!</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password" />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary w-100"> Sign up</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-danger w-100">  With Google+</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-info w-100 "> With facebook</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/App/account.js"></script>
    }